@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --gradient: linear-gradient(90deg, #050818 0%, rgba(5, 8, 24, 0.00) 100%);
}

header,
.card-1,
.card-2,
.card-3,
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-image: var(--gradient), url('./images/banner-1.png');
}

.hero {
    padding-top: 145px;
    padding-bottom: 200px;
    width: 50%;
}

.banner {
    padding-top: 145px;
    padding-bottom: 145px;
    background-image: var(--gradient), url('./images/banner-2.png');
}

.card-1,
.card-2,
.card-3 {
    height: 464px;
}

.card-1 {
    background-image: var(--gradient), url('./images/card-1.png');

}

.card-2 {
    background-image: var(--gradient), url('./images/card-2.png');

}

.card-3 {
    background-image: var(--gradient), url('./images/card-3.png');

}

.f-card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.my-128 {
    margin-top: 128px;
    margin-bottom: 128px;
}

.mx-margin {
    margin-left: 140px;
    margin-right: 140px;
}

.c-w-75 {
    width: 50%;
}

.banner-w-75 {
    width: 75%;
}

/* .sponsors img {
    filter: saturate(0%);
} */


/* Large */
@media screen and (min-width: 992px) {
    .c-w-50 {
        width: 50%;
    }

    .banner-w-75 {
        width: 50%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .mx-margin {
        margin-left: 32px;
        margin-right: 32px;
    }

    .hero {
        padding-top: 120px;
        padding-bottom: 160px;
        width: 75%;
    }

    .banner {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .c-w-75 {
        width: 75%;
    }

    /* .my-128 {
    margin-top: 128px;
    margin-bottom: 128px;
} */
}

/* Mobile */
@media screen and (max-width: 576px) {
    .mx-margin {
        margin-left: 20px;
        margin-right: 20px;
    }

    .my-128 {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .hero {
        padding-top: 80px;
        padding-bottom: 100px;
        width: 80%;
    }
}